---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
---


<Layout title="Victor Maye" description="portfolio web" >
 	<main class="text-white">
        <h1>Hey, soy Victor <Badge>Disponible para trabajar</Badge></h1>
        <h2>Desarrollador web front-end</h2>

    </main>
</Layout>