---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../icons/LinkedInIcon.astro"
import GitHubIcon from "../icons/GithubIcon.astro"
import MailIcon from "../icons/MailIcon.astro"
import SocialPill from "../components/SocialPill.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import Education from "../components/Education.astro"
import HelpApi from "../components/HelpApi.astro"
---


<Layout title="Victor Maye" description="portfolio web" >
    <main class="text-slate-900 dark:text-white px-3 w-full lg:max-w-[740px] xl:max-w-[846px] mx-auto overflow-y-auto">
        <section class=" py-24" id="about">
            <h1 class="text-5xl font-bold flex gap-4 pb-5">Hola, soy Victor <a class="flex items-center justify-center" target="_blank" rel="noopener" href="https://www.linkedin.com/in/victormaye-data-scientist/"><Badge>Disponible para trabajar</Badge></a></h1>
            <h2 class="text-xl opacity-85">
                <span class="text-yellow-500 dark:text-yellow-300">Desarrollador Web</span>  con un ojo para el diseño y la creatividad. <span class="text-blue-400"> Transformo ideas en interfaces atractivas a través de código limpio y diseño elegante.</span> Trabajo con HTML, CSS y JavaScript, además de frameworks como React. Creo en la usabilidad y en crear <span class="text-red-600 dark:text-red-300 font-bold">experiencias impactantes</span> para los usuarios.
            </h2>
            <nav class="flex gap-4 mt-8 flex-wrap">
                <SocialPill href="https://www.linkedin.com/in/victor-fullstack/">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/valec3">
                    <GitHubIcon class="size-4 md:size-6" />
                    GitHub
                </SocialPill>
                <SocialPill href="mailto:vicrmaye@gmail.com">
                    <MailIcon class="size-4 md:size-6" />
                    vicrmaye@gmail.com
                </SocialPill>
            </nav>
        </section>
        <Experience />
        <Projects />
        <Education/>
        <HelpApi/>
    </main>
</Layout>