---
import SimpleLayout from "../layouts/SimpleLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { projectsData } from "../data/data";
---

<SimpleLayout title="Proyectos" description="Proyectos de desarrollo web y móvil realizados por mí.">
    <section class="overflow-y-auto h-screen">
        <div class="w-full max-w-[1600px] mx-auto py-8 px-4">
            <a href="/" class="text-yellow-300 font-bold text-xl">
                ⭠ Regresar al inicio
            </a>
            <h2 class="text-4xl font-bold text-center py-10 text-white">
                Proyectos
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-6 text-white">
                {
                    projectsData.map((project, index) => (
                        <ProjectCard project={project} key={index} />
                    ))
                }
            </div>
        </div>
    </section>
</SimpleLayout>