---
const EXPERIENCE = [
    {
        title: 'Frontend Developer',
        company: 'No Country',
        location: 'Lima, Peru',
        date: '2023 - Presente',
        description: 'Durante mi participación en No Country, asumí el rol de Frontend en equipos multidisciplinarios, participando en emulaciones de entornos laborales reales. Mi responsabilidad consistía en desarrollar soluciones web innovadoras utilizando React. Esta experiencia me brindó la oportunidad de demostrar mis habilidades técnicas y aprender a comunicarme de manera efectiva en un equipo colaborativo.',
        tags: ['React', 'Tailwind CSS', 'Jira', 'JavaScript', 'HTML', 'CSS'],
    },
    {
        title: 'Desarrollador Independiente',
        company: '',
        location: 'City, Country',
        date: '2023 - Presente',
        description: 'Durante mi período como Desarrollador Independiente, he creado aplicativos de predicción basados en machine learning y desarrollado aplicaciones web . Mi experiencia se centra en la implementación de soluciones avanzadas que aprovechan la potencia de la inteligencia artificial para proporcionar resultados precisos y eficientes.',
        tags: ['React', 'Tailwind CSS', 'Figma', 'JavaScript', 'HTML', 'CSS'],
    }
]
import ExperienceItem from "./ExperienceItem.astro"
import BriefcaseIcon from "../icons/BriefcaseIcon.astro"
import TitleSection from "./TitleSection.astro"
---


<section class="py-6 pb-10" id="experience">
    <TitleSection title="Experiencia">
        <BriefcaseIcon class="w-6 h-6 mr-2" />
    </TitleSection>
    <ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
        {
            EXPERIENCE.map((item, index) => (
                <ExperienceItem {...item}/>
            ))
        }
        
    </ol>
</section>
