<header class="flex justify-between object-top mx-auto items-center py-4 pt-8 w-full max-w-[1000px] z-50 max-sm:gap-8 px-4">
    <img src="https://t3.ftcdn.net/jpg/06/01/17/18/360_F_601171862_l7yZ0wujj8o2SowiKTUsfLEEx8KunYNd.jpg" alt="logo foto" class="size-10 object-cover rounded-full">
    <nav class="flex gap-x-8 gap-y-4 opacity-90 flex-wrap">
        <a class="cursor-pointer hover:text-gray-300" href="#experience">Inicio</a>
        <a class="cursor-pointer hover:text-gray-300" href="#about">Sobre mí</a>
        <a class="cursor-pointer hover:text-gray-300" href="#projects">Proyectos</a>
        <a class="cursor-pointer hover:text-gray-300" href="#contact">Contacto</a>
        <a class="cursor-pointer hover:text-gray-300" href="#education">Educación</a>
    </nav>
</header>
