<header class="flex justify-between object-top mx-auto items-center py-4 pt-6 w-[1100px] z-50">
    <img src="https://i.pinimg.com/236x/ee/e4/4d/eee44d30135a637d920e035f1e24a72a.jpg" alt="logo foto" class="size-10 object-cover rounded-full">
    <nav class="flex gap-x-8 opacity-90">
        <a class="cursor-pointer hover:text-gray-300" href="/">Inicio</a>
        <a class="cursor-pointer hover:text-gray-300" href="/about">Sobre mí</a>
        <a class="cursor-pointer hover:text-gray-300" href="/projects">Proyectos</a>
        <a class="cursor-pointer hover:text-gray-300" href="/contact">Contacto</a>
        <a class="cursor-pointer hover:text-gray-300" href="/education">Educación</a>
    </nav>
</header>