---
import TitleSection from "./TitleSection.astro";
import { projectsData } from "../data/data";
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects">
    <TitleSection title="Proyectos" />
    <div class="flex flex-col gap-16">
        {
            projectsData.slice(0, 3).map((project) => (
                <ProjectCard project={project} />
            ))
        }
    </div>
    <div class="text-center mt-7">
        <a href="/projects" class="text-yellow-400 hover:text-yellow-600 group text-center text-xl">
            Ver más proyectos <span class="relative group-hover:ml-2 transition-all duration-200">&rarr;</span>
        </a>
    </div>
</section>